
*.pdb
*.pdb
Code/C#/LeapBot/.vs/LeapBot/v15/.suo
Code/C#/LeapBot/.vs/LeapBot/v15/Server/sqlite3/storage.ide
Code/C#/LeapBot/.vs/LeapBot/v15/Server/sqlite3/storage.ide-shm
Code/C#/LeapBot/.vs/LeapBot/v15/Server/sqlite3/storage.ide-wal
Code/C#/LeapBot/bin/Debug/LeapTestWithForm1.exe
Code/C#/LeapBot/bin/Debug/LeapTestWithForm1.pdb
Code/C#/LeapBot/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Code/C#/LeapBot/obj/Debug/LeapBot.csproj.GenerateResource.Cache
Code/C#/LeapBot/obj/Debug/LeapTestWithForm1.exe
Code/C#/LeapBot/obj/Debug/LeapTestWithForm1.pdb
Code/C#/LeapBot/.vs/LeapBot/v15/Server/sqlite3/storage.ide
Code/C#/LeapBot/.vs/LeapBot/v15/Server/sqlite3/storage.ide-shm
Code/C#/LeapBot/.vs/LeapBot/v15/Server/sqlite3/storage.ide-wal
Code/C#/LeapBot/.vs/LeapBot/v15/Server/sqlite3/db.lock
Code/C#/LeapBot/bin/Debug/LeapTestWithForm1.exe
Code/C#/LeapBot/bin/Debug/LeapTestWithForm1.pdb
*.Cache
*.cache
*.exe
Code/C#/LeapBot/obj/Debug/LeapTestWithForm1.pdb
Code/C#/LeapBot/bin/Debug/LeapTestWithForm1.exe
Code/C#/LeapBot/bin/Debug/LeapTestWithForm1.exe
Code/C#/LeapBot/bin/Debug/LeapTestWithForm1.pdb
Code/C#/LeapBot/obj/Debug/LeapBot.csproj.GenerateResource.Cache
Code/C#/LeapBot/obj/Debug/LeapBot.csprojAssemblyReference.cache
Code/C#/LeapBot/obj/Debug/LeapTestWithForm1.exe
Code/C#/LeapBot/obj/Debug/LeapTestWithForm1.pdb
Code/C#/LeapBot/bin/Debug/LeapTestWithForm1.exe
Code/C#/LeapBot/bin/Debug/LeapTestWithForm1.pdb
*.exe
*.pdb
Code/C#/LeapBot/obj/Debug/LeapBot.csproj.FileListAbsolute.txt
